.gridcontainer{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(236, 250, 249);
  gap: 100px;
  
}

.card-text{
  font-size: large;
}

.gridcontainer div{
  background-color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.cardsviagens{
  padding: 50px;
  animation: transicao1 2s infinite alternate;
}



.arttext{
  background-color: #e7ecf1;
  width: 70%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  animation: animcor 1.5s;
}

.listmenu{
  display: flex;
  margin-top: 10px;
  text-align: center;
}

.listmenu li{
  list-style: none;
}

.links{
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border: 1px solid black;
  color: black;
  border-radius: 4px;
  margin: 5px;
  font-size: large;
}

.links:hover{
  background-color: rgb(0, 247, 255);
}

.links{
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fundobranco{
  background-color: rgb(255, 239, 239);
  width: 60%;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 935px){
  .gridcontainer{
    grid-template-columns: auto auto;
  }
  .cardsviagens{
    padding: 4px;
  }
  .card-text{
    font-size: large;
  }
  .links{
    font-size: large;
  }
}

@media (max-width: 630px){
  .gridcontainer{
    grid-template-columns: auto;
  }
  .cardsviagens{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .card-text{
    font-size: medium;
  }
}

@media only screen and (max-width: 600px){
  .fundobranco{
    width: 95%;
  }
}

.App-header2 {
  background-color: #d0d7e4;
  background: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/34245/fotos-de-paisagens_o1f9f43uqg1iol1u491f86mpq19gse.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  
}

.App-header{
  background-color: #d0d7e4;
  background: url(https://5287aa00874a313e299d-1850966fc307ff23e1e789aeafd2476b.ssl.cf5.rackcdn.com/PostImagem/34245/fotos-de-paisagens_o1f9f43uqg1iol1u491f86mpq19gse.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  
}

.rodape{
  text-align: center;
  background-color: #d0d7e4;
}

.rodape span{
  font-weight: bold;
}

@keyframes animcor {
  0% {
    opacity: 0.2;
  }
  
  100%{
    opacity: 1;
  }
}

@keyframes transicao1 {
  0%{
    background-color: rgb(236, 250, 249);
  }
  50%{
    background-color: rgb(219, 248, 246);
  }
  100%{
    background-color: rgb(198, 255, 252);
  }
}
